<!DOCTYPE html>
<html>
	<head>
		<title>Calculator Application</title>
	</head>
	<body>
		<h2>Calculator Application</h2>
		<form action="/calculate">
			<label for="n1">Enter n1:</label>
			<input type="number" id="n1" name="n1"> <br>
			
			<label for="n2">Enter n2:</label>
		    <input type="number" id="n2" name="n2"> <br>
			
			<button name="operation" value="add">Add</button>
			<button name="operation" value="subtract">Subtract</button>
			<button name="operation" value="multiply">Multiply</button>
			<button name="operation" value="divide">Divide</button>
			
		</form>
	</body>
</html>